@font-face {
    font-family: PlaywriteITModerna;
    src: url(./fonts/Playwrite_IT_Moderna/PlaywriteITModerna-VariableFont_wght.ttf);
}

h1{
    font-family: PlaywriteITModerna;
}
h5{
    font-family: arial;
    font-size: 60px;
}

body{
    background-image: url("../img/pfs03975.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

}

section{
    background-color: white;
    padding: 80px 30px 80px 30px;

}

#home img{
    width: 80%;
}

.acomodacao{
    padding: 90px 300px ;
    text-align: center;
    color: white ;
    background-color: rgba(0, 0, 0, 0.5);
}

.gastronomia{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.reservas, .sobre{
    padding: 90px 300px ;
    text-align: center;
    color: white ;
    background-color: rgba(0, 0, 0, 0.5);
}

.mapa{
    width: 100%;
    height: 700px;
    margin-top: 5%;
}

.footer-title{
    background-color: black;
    color: white;

}